#carImg {
  width: 200px;
  border-radius: 20px;
}
#car {
  margin-bottom: 20px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 30px;
}
.car-card {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.car-details {
  margin-left: 20px;
  margin-right: 80px;
}

input {
  height: 5vh;
  width: 10vw;
  margin-bottom: 5px;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.rent-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-details {
  font-size: 0.9em;
}

.btns {
  border-radius: 20px;
  outline: none;
}

#review {
  width: 200px;
}
